@mixin sizes ($width, $height) {
    height: $height;
    width: $width; 
}

@mixin margin ($margin-letf, $margin-right, $margin-top, $margin-bottom) {
    margin-left: $margin-letf;
    margin-right: $margin-right;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

$estilos: (
  color: black,
  centro: center,
  tFuente: 35px,
  font: IM FELL French Canon
  );

.navbar {
    font-family: vogue;
    align-content: right;
}

body {
    background-image: url(https://pbs.twimg.com/media/FYFim0jXEAcsxK8?format=jpg&name=large);
}

.video {
    display: flex;
    flex-direction: row;
}

.imgandtext {
    display: flex;
    flex-direction: column;
}

.LDR {
    width: 100%;
    height: auto;
    transition: 0.5s;
    padding: 5px;
        &hover{
            width: 105%;
            height: auto;
        }
}


.BBAC {
    @include sizes (320px, 320px);
    border: solid 1px;
    padding: 30px;
    transition: 1s;
        &hover {
            @include sizes (400px, 400px);
        }
}


#carouselExampleControls {
    width: 800px;
    margin: 0 auto;
}

.AlbumCovers {
    @include sizes (330px, 330px);
    margin: 20px;
    padding: 10px;
}

.WhoIsLana { 
    margin-left: 20px;
}

h2 {
    @include margin (25px, 0px, 0px, 0px);
    align-content: center;
    font: 100px;
    font-family: vogue
}

p {
    font-family:map-get($estilos,font);
    align-content: center;
}

.about {
    font-family:map-get($estilos,font);
    @include margin (25px, 0px, 0px, 0px);
}

.CDlist {
    font-family:map-get($estilos,font);
}

dt {
    font-size: 30px;
    font-family: vogue
}

.Discography {
    @extend dt
}


form {
    font-family:map-get($estilos,font);
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include margin (200px, 200px, 50px, 100px);
}

fieldset{
    display: flex;
    flex-direction: column;
}


h5 {
    font-family: vogue;
    align-self: center;
}

.playlist {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: 25%;
}


.PlaylistCentrada {
    display: flex;
    justify-content: center;
    padding: 20px;
}


@media screen and (max-width: 767px) {
    .video {
        display: grid;
        grid-template-rows: 700px;
    }    
    #carouselExampleControls {
        height: auto;
        width: auto;
    }
    .playlist {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 25px;
        height: auto;
        width: 364px;
    }
    .bbvideo {
        max-width: 100%;
        height: auto;
    }
    .bbvideo {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .bbvideo iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .playlist {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}